:root {
    --BGcolor: rgb(27, 27, 29);
    --SiteBGcolor: rgb(77, 80, 83);
    --buttonBG-color: rgb(91, 91, 94);
    --digitFont-color: rgb(46, 221, 11);
    --signFont-color: rgb(209, 102, 15);
    --equalFont-color: white;
    --buttonShadowColor: rgb(75, 75, 80);
    --switchColor: white;
    font-weight: 900;
}

:root[data-theme="light"] {
    --switchColor: black;
    --buttonBG-color: rgb(255, 255, 255);
    --BGcolor: rgb(217, 217, 230);
    --buttonShadowColor: rgb(190, 190, 204);
    --SiteBGcolor: rgb(255, 255, 255);
}

body {
    background-color: var(--SiteBGcolor);
}